@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  font-size: 17px;
  color: #222121;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  align-items: stretch;

  color: #0f0f0f;
}

a {
  color: #161615;
  opacity: 1.6;
  transition: all 0.1s ease-in;
  padding: 10px;
  text-decoration: none;
  display: flex;
  font-weight: 400;
}
a:hover {
  opacity: 2;
  color: #f77d19;
}

#basic-navbar-nav {
  display: flex;
}

#videobackground .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(213, 15, 61, 0.6),
    rgba(13, 17, 198, 0.69) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(213, 15, 61, 0.6),
    rgba(13, 17, 198, 0.69) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(213, 15, 61, 0.6),
    rgba(13, 17, 198, 0.69) 100%
  );
}

#videobackground .view video {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  height: 100vh;
}

.video-intro {
  right: 0;
  bottom: 0;
  position: fixed;
  min-width: 100%;
}

.main {
  position: relative;
  background-color: #ffffff;

  min-width: 100%;
  padding: 40px;
}

.digital {
  position: relative;
  background-color: #ffffff;
  margin-top: 20px;
  min-width: 100%;
  padding: 20px;
  border-top: 1px solid black;
  box-shadow: rgba(133, 127, 128, 0.6) 10px 10px 10px 10px;
}

.introText {
  position: relative;
  padding: 60px;
  text-align: center;
}
